# === Build / tooling ===
target/
.mvn/
!.mvn/wrapper/maven-wrapper.jar
*.log

# === IDE ===
# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/
# VS Code
.vscode/
# Eclipse / NetBeans / Gradle
.classpath
.project
.settings/
.apt_generated/
.springBeans
.sts4-cache/
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/

# === OS junk ===
.DS_Store
Thumbs.db

# === Java ===
*.class

# === Archives / media (opcjonalnie) ===
*.zip
*.mp4

# === Local DB secrets ===
# commituj TYLKO szablon: db.properties.example
db.properties
